* { 
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}

body {
	font-family: 'Lato', sans-serif;
	margin: 75px 50px 0px 50px;
	border-left: 3px solid #eee;
	padding-left: 50px;
}

h1, h2, h3, h4, h5, h6, p, a {
	padding: 0;
	margin: 0;
	font-weight: 300;
}

nav {
	margin-bottom: 50px;
	background-color: #000;
}

nav > a {
	color: #ddd;
	border-right: 1px solid #fff;
	font-size: 18px;
	padding: 0;
	padding-bottom: 5px;
	text-align: center;
	width: 16.666667%;
	display: inline-block;
}

a {
	color: #D00;
	text-decoration: none;
}

h1 {
	color: #D00;
	font-size: 50px;
	margin-bottom: 50px;
	font-weight: 100;
}

h2 {
	color: #444;
	font-size: 24px;
	margin-bottom: 20px;
}

h3 {
	font-size: 30px;
	color: #ddd;
}

h2 > a {
	color: #444;
	font-size: 24px;
}

.float-left{
	float: left;
}

main {
	width: 75%;
}

aside {
	width: 25%;
}